body {
	background-color: rgb(128, 180, 240);
	display: flex;
	align-items: center;
	justify-content: center;
}

.textview{
  display: inline-block;
	margin: 2px;
	width: 198px;
	height: 29px;
	font-size: 20px;
    font-weight: bold;
    background-color: rgba(241, 244, 245, 0.589);
	border: none;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 10px;
	outline:none;
}

.textview:active{
	border: none;
	outline:none;
}

.equalButton {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 42px;
	height:91px;
    outline: none;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	border: none;
}

.button {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 42px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;
	border: none;
}

/* .button:active, .allclearButton:active,.equalButton:active{
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  } */



/* .button:hover,.equalButton:hover {
	background-color: #FFBA75;
	box-shadow: 0px 0px 2px #FFBA75, inset 0px -20px 1px #FF8000;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #AE5700;
	border-left: 2px solid #AE5700;
} */

.allclearButton {
  border-radius: 10px;
	color: #FFF;
    margin: 2px;
	width: 42px;
	height: 42px;
	outline: none;
	background-color: black;
}

h1{
	color:#F1620B;
	font-size: 52px;
    text-justify: newspaper;
    text-align: center;

}
.container{
		/* background: rgba(146, 142, 142, 0.589); */
		background-color: rgb(16, 127, 187);
		/* background-size: 100px 80px; */
		background-size: cover;
		position:absolute;
		padding: 20px;
        top:50%;
		border-radius: 15px;
        left:50%;
        transform:translateX(-50%) translateY(-50%)
}


      
